body{
    padding: 50px;
}

.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.list-group-item p{
    flex: 1;
}
.complete {
    text-decoration: line-through;
}